template(name='input')
  .list-group
    .list-group-item
      .media
        .media-left
          a(href='#')
            img.thumb.img-rounded.media-object(src='https://pbs.twimg.com/profile_images/600822240414830593/1WWaBHp5_bigger.jpg', alt='...')
        .media-body
          textarea.form-control
    if url
      .list-group-item
        iframe(width='100%', height='300', src='{{url}}', allowfullscreen='allowfullscreen', frameborder='0')
    .list-group-item
      .dropup
        .btn-group.pull-right
          button.btn.btn-success
            i.fa.fa-wifi
            | たかし/{{world}}
          button#dropdownMenu2.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            span.caret
          ul.dropdown-menu(aria-labelledby='dropdownMenu2')
            li
              a(href='#') Action
            li
              a(href='#') Another action
            li
              a(href='#') Something else here
            li
              a(href='#') Separated link
      .clearfix
